.about {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  .about h2 {
    margin-bottom: 20px;
  }
  
  .about p {
    margin-bottom: 10px;
  }